@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;

    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: rgb(0, 151, 161);
}

header {
    background-color: rgb(255, 255, 255);
}

header > h1 {
    padding: 10px;
    text-align: center;
}

i#burguer {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

i#burguer:hover {
    background-color: rgb(38, 0, 255);
    color: rgb(40, 170, 0);
}

menu {
    display: none;
}

menu > ul {
    text-align: center;
    list-style-type: none;
    padding-bottom: 10px;
}

menu > ul > li > a {
    padding: 10px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transition: 0.5s;
    border-radius: 10px;
    text-align: center;
}

menu > ul > li > a:hover {
    background-color: rgb(4, 0, 255);
    color: black;
}

main {
    width: 90vw;
    background-color: rgb(34, 248, 195);
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}
